<!DOCTYPE html>
<html>
<head>
<title>Digestw - Twitter's Timeline Digest</title>
<meta charset="UTF-8">
<meta name="description" content="twitter,timeline,digest,">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="/s/a.css">
<link href="/s/mq.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<style type="text/css">
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
	display:block;
}
</style>
<script src="/j/html5.js" type="text/javascript"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<![endif]-->
</head>
<body>
	<div id="a">
		<header>
	  	    	<a href="/" title="Go to Homepage"><strong>Digestw</strong> Twitter's Timeline Digest</a>
		    	<p>An easy way to retrieve and save hot informations from your timeline.</p>
		</header>
		<div id="b">
		     <article>
				{{if .Error}}
					<p class="highlight-1"><strong>Error:</strong>{{.Error|html}}</p>
				{{end}}
			     <h1>{{.Data.UserId}}</h1>
<!--
				<p class="highlight-2"><strong>Notice:</strong> This is how a notice looks like.</p>
				<p class="highlight-3"><strong>Confirmation:</strong> This is how a confirmation looks like.</p>
-->
				<ul>
					<li>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</li>
					<li>
<a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
					</li>
					<li>
<g:plusone size="medium" annotation="none"></g:plusone>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
					</li>
					<li>
<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
					</li>
				</ul>
				<div style="clear:both"></div>

				{{template "tab.html" .Units}}
				<div style="clear:both"></div>
				
				{{template "link.html" .Links}}
				<div style="clear:both"></div>

				{{if .Data.Tweets}}
					<h3>Tweets</h3>
					<p>{{.Data.Tweets.Samples.Tweet}}</p>
				{{end}}
				
				{{if .Data.Places}}
					<h3>Places</h3>
					{{template "place.html" .Data.Places}}
				{{end}}
				
				{{if .Data.Hashtags}}
					<h3>Hashtags</h3>
					{{template "hashtag.html" .Data.Hashtags}}
				{{end}}
				
				{{if .Data.Urls}}
					<h3>Urls</h3>
					{{template "url.html" .Data.Urls}}
				{{end}}

				{{if .Data.Domains}}
					<h3>Domains</h3>
					{{template "domain.html" .Data.Domains}}
				{{end}}
	
				{{if .Data.Mentions}}
					<h3>Mentions</h3>
					{{template "sn.html" .Data.Mentions}}
				{{end}}

				{{if .Data.Tweeters}}
					<h3>Tweeters</h3>
					{{template "sn.html" .Data.Tweeters}}
				{{end}}
			</article>
			
			<aside>
				<h4>Try out</h4>
				<ul>
					<li><a href="/web/login">Login Twitter</a></li>
				</ul>
				<h4>Search</h4>
				<form action="#" id="searchbox" class="s">
					<input id="searchtxt" name="search" type="text" value="Type term and hit enter...">
				</form>
				<h4>About the Author</h4>
				<div id="c">
					<img src="http://a3.twimg.com/profile_images/675388107/_1265293335_43_normal.png" alt="mocchira">
				  	<p>a golanger</p>
					<b>Follow Me</b>
					<p><a href="http://twitter.com/mocchira" title="Follow @mocchira">Twitter</a></p>
				</div>
				<nav>
					<h4>Link</h4>
					<ul>
						<li><a href="http://www.stoic.co.jp/">Stoic</a></li>
					</ul>
				</nav>
				<h4>Powered by</h4> 
				<div class="adspace">
					<a href="http://golang.org/"><img width="153px" height="55px" src="http://upload.wikimedia.org/wikipedia/en/2/23/Golang.png" alt="golang" title="golang"/></a> 
				</div>
			<!--
				<h4>Example Blogroll</h4>
				<ul>
					<li><a href="http://jabz.net/">Jabz Internet Marketing GmbH</a></li>
					<li><a href="http://jabz.net/contact/jonas-jacek">Jonas Jacek</a></li>
					<li><a href="http://www.w3.org/">World Wide Web Consortium</a></li>
					<li><a href="http://www.getfirefox.com/">Firefox Web Browser</a></li>
				</ul>
				<h4>Example Tag Cloud</h4>
				<ul id="tagcloud">
					<li class="tagcloudsize-1"><a href="#">Lorem</a></li>
					<li class="tagcloudsize-2"><a href="#">Ipsum</a></li>
					<li class="tagcloudsize-3"><a href="#">Dolor</a></li>
					<li class="tagcloudsize-2"><a href="#">Sit Amet</a></li>
					<li class="tagcloudsize-1"><a href="#">Consectetur</a></li>
				</ul> 
			-->
			</aside>
		</div>
		<footer>
			<p>Template Design &amp; Markup by <a href="http://jabz.net/contact/jonas-jacek">Jonas Jacek</a> | <a href="http://owmx.com/" title="Free HTML5 &amp; CSS3 Web Templates">Free Web Templates</a>.</p>
		</footer>
	</div>
<script>
$("#searchtxt").focus(function(ev){
	ev.target.value = "";
});
$("#searchbox").submit(function(ev){
	var sc = $("#searchtxt").val();
	if (sc.length == 0) {
		return false;
	}
	ev.target.action = "/web/stats/" + sc + "/total/";
	return true;
});
</script>
</html>
